@import '@app/config/main.scss';

.content {
    padding-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    &Skeleton {
        background-color: $skeleton_color;
        height: 200px;
        margin: 8px;
    }
}

.contentButton {
    padding: 8px;
}
